# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://database_username:database_password@localhost:5432/mydb?schema=public"
DATABASE_URL_CLOUD=""
CLOUD_DEPLOYMENT=false
JWT_SECRET_TOKEN="jwt_secret_token"
SERVER_PORT=3000
SMTP_HOST="mail.example.com"
SMTP_USERNAME="mail@example.com"
SMTP_PASSWORD="password"